.asterix
{
    color:red;
}

label
{
    color: #265b89;
    text-align:right;
    
}


#hhsignupcon
{
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;

}

#subbtn
{
font-size: 2rem;
width: 30%;
margin: 25px;
margin-left : auto;
margin-right: auto;
}


#hhsignuprow1
{
   
    color: #265b89;
    font-size: 0rem;
    padding:5px;
    
}

p
{
    text-emphasis-color: white;
    position: relative;
    font-size: 14px;
    vertical-align: text-bottom;
}

#hhsignuprow2
{
    padding-top: 10px;
}


#hhfna, #hhfna, #hhmna,#hhlna,#hhnid,#hhmo1,#hhmo2,#hhwan,
#hhmmn,#hhema,#hhhmt,#hhad1,#hhad2,#hhad3,#hhad4,#hhad5,#hhad6,
#hhad9,#hhedu, #hhsal,#hhla1,#hhla2,#hhla3,#hhkid,#hhkykcn,
#usenm,#hhhopas,#hh1pas, #hhusenm
{

float: right;
width: 50%;

}


#hhdoby, #hhgen, #hhrel, #hhtri, #hhedu, #hhsal, #hhdobd, #hhdobm, #hhla1, #hhla2, #hhla3,
#hhintcle, #hhmdco, #hhex, #hhad7,#hhad8,#hhnat
{
height: 25px;
float: right;
width: 50%;
}

#row15col1
{
    background-color:#265b89;
    color: white;
    text-align: center;
    font-size: 2rem;

}

::placeholder
{
color: #265b89;
font-size: 1rem;

}

select
{
    color: #265b89;
    font-size: 1rem;
}

#row1col1, #row1col1, #row1col1
{
height: 50px;

}

#hhsignuplogo
{
align-content: left;
}

#clipart
{
float: center;

}