.asterix
{
    color:red;
}

label
{
    color: #3D5A99;
    text-align:right;
    font-size: smaller;
}


#hosignupcon
{
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;

}

#subbtn
{
font-size: 2rem;
}


#hosignuprow1
{
    background-color:#265b89;
    color: white;
    text-align: center;
    font-size: 2rem;
}

p
{
    text-emphasis-color: white;
    position: relative;
}

#hosignuprow2
{
    padding-top: 10px;
}


#hofna, #hofna, #homna,#holna,#honid,#homo1,#homo2,#howan,
#hommn,#hoema,#hohmt,#hoad1,#hoad2,#hoad3,#hoad4,#hoad5,#hoad6,#hoad7,
#hoad9,#hoedu, #hosal,#hola1,#hola2,#hola3,#hokid,#hokykcn,#housenm, 
#usenm,#hopas,#ho1pas
{

float: right;
width: 50%;

}


#hodoby, #hogen, #horel, #hotri, #hoedu, #hosal, #hodobd, #hodobm, #hola1, #hola2, #hola3,
#hointcle, #homdco, #hoex, #hoad8, #honat
{
height: 25px;
float: right;
width: 50%;
}

#row15col1
{
    background-color:#265b89;
    color: white;
    text-align: center;
    font-size: 2rem;

}

::placeholder
{
color: #265b89;
font-size: small;
font-size: 1rem;

}

select
{
    color: #265b89;
    font-size: 1rem;
}


